<header-toolbar title="Account"></header-toolbar>

<mat-card class="gebruiker-card" appearance="outlined">
    <mat-card-header>
        <div mat-card-avatar class="user-image" [style]="{'background-image': 'url(' + gebruiker.imageUrl + ')'}"
            *ngIf="gebruiker?.imageUrl">
        </div>
        <mat-card-title>{{gebruiker?.email}}</mat-card-title>
        <mat-card-subtitle class="subtitle">Rollen: <br />
            @for (rol of gebruiker?.roles; track $index) {
            <span> &#x2022; {{rol}} <br /></span>
            }
        </mat-card-subtitle>
    </mat-card-header>
</mat-card>