<nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a mat-tab-link [routerLink]="'/admin/account'" routerLinkActive #account="routerLinkActive"
        [active]="account.isActive">
        Account
    </a>

    <a mat-tab-link [routerLink]="'/admin/fotos'" routerLinkActive #fotos="routerLinkActive" [active]="fotos.isActive"
        [disabled]="!hasRole(Roles.ManageFotos)">
        Foto's
    </a>

    <a mat-tab-link [routerLink]="'/admin/gebruikers'" routerLinkActive #gebruikers="routerLinkActive"
        [active]="gebruikers.isActive" [disabled]="!hasRole(Roles.ManageGebruikers)">
        Gebruikers
    </a>
</nav>
<mat-tab-nav-panel #tabPanel class="nav-panel">
    <router-outlet></router-outlet>
</mat-tab-nav-panel>